<!-- templatemo 367 shoes -->
<!-- 
Shoes Template 
http://www.templatemo.com/preview/templatemo_367_shoes 
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mes biens</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/app/templatemo_style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/app/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="/app/css/ddsmoothmenu.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/main.css" />



    <script type="text/javascript" src="/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/app/js/bootstrap.js"></script>
    <script type="text/javascript" src="/app/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/app/js/main.js"></script>
<script type="text/javascript" src="/app/js/ddsmoothmenu.js">

</script>

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "top_nav", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

</script>

</head>

<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_header">
        <div id="site_title1"><h1><a href="#">Online Exchange</a></h1></div>
        <div id="header_right1">
            <p>
                <a href="#">Mon compte</a> | <a href="#">Se déconnecter</a></p>
            <p>

            </p>
        </div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->
    
    <div id="templatemo_menubar">
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                <li><a href="home.html" class="selected">Home</a></li>
                <li><a th:href="@{/}">Annonces</a>

                </li>
                <li><a th:href="@{/bien/}">Mes biens</a>

                </li>
                <li><a th:href="@{/}">Mes annonces</a></li>
                <li><a th:href="@{/bien/}">Mes propositions</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
        <div id="templatemo_search">
            <form action="#" method="get">
              <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- END of templatemo_menubar -->
    
    <div id="templatemo_main">
    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>Categories</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    	<li class="first"><a href="#">Sed eget purus</a></li>
                        <li><a href="#">Vestibulum eleifend</a></li>
                        <li><a href="#">Nulla odio ipsum</a></li>
                        <li><a href="#">Suspendisse posuere</a></li>
                        <li><a href="#">Nunc a dui sed</a></li>
                        <li><a href="#">Curabitur ac mauris</a></li>
                        <li><a href="#">Mauris nulla tortor</a></li>
                        <li><a href="#">Nullam ultrices</a></li>
                        <li><a href="#">Nulla odio ipsum</a></li>
                        <li><a href="#">Suspendisse posuere</a></li>
                        <li><a href="#">Nunc a dui sed</a></li>
                        <li><a href="#">Curabitur ac mauris</a></li>
                        <li><a href="#">Mauris nulla tortor</a></li>
                        <li><a href="#">Nullam ultrices</a></li>
                        <li class="last"><a href="#">Sed eget purus</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Bestsellers </h3>   
                <div class="content"> 
                	<div class="bs_box">
                    	<a href="#"><img src="images/templatemo_image_01.jpg" alt="image" /></a>
                        <h4><a href="#">Donec nunc nisl</a></h4>
                        <p class="price">$10</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="/app/images/templatemo_image_01.jpg" alt="image" /></a>
                        <h4><a href="#">Lorem ipsum dolor sit</a></h4>
                        <p class="price">$12</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="/app/images/templatemo_image_01.jpg" alt="image" /></a>
                        <h4><a href="#">Phasellus ut dui</a></h4>
                        <p class="price">$20</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="/app/images/templatemo_image_01.jpg" alt="image" /></a>
                        <h4><a href="#">Vestibulum ante</a></h4>
                        <p class="price">$8</p>
                        <div class="cleaner"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="float_r">
            <h1> Biens </h1>
            <div class="center"></div>
            <div class="product_box" data-th-each="eachBien : ${bienList}">
                <h3 data-th-text="${eachBien.name}">...</h3>
                <a href="productdetail.html"><img src="/app/images/product/01.jpg" alt="Shoes 1" /></a>
                <p class="product_price" data-th-text="${eachBien.price} + ' MAD'">...</p>
                <a th:href="@{/bien/delete?id=}+${eachBien.id}" class="delete"></a>
                <a th:href="@{/bien/details?id=}+${eachBien.id}" class="detail"></a>
            </div>

        </div>
        <div class="center"><button id="ajouterBien" class="open-to-edit btn btn-primary center-block">Ajouter un bien</button></div>
        <div class="cleaner"></div>

    </div> <!-- END of templatemo_main -->
    
    <div id="templatemo_footer">
    	<p><a href="#">Home</a> | <a href="#">Products</a> | <a href="#">About</a> | <a href="#">FAQs</a> | <a href="#">Checkout</a> | <a href="#">Contact Us</a>
		</p>


    	Copyright © 2072 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
    </div> <!-- END of templatemo_footer -->
    
</div> <!-- END of templatemo_wrapper -->
</div> <!-- END of templatemo_body_wrapper -->
<!-- Modal -->
<div class="modal fade" id="addBienModal" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un bien</h4>


            </div>
            <div class="modal-body">
                <form th:action="@{/bien/save}" method="post">
                    <input type="hidden" name="id" th:value="${bien.id}" id="bienId"/>

                    <div class="form-group">
                        <label for="bienName">Name</label>
                        <input type="text" class="form-control" th:value="${bien.name}" name="name"
                               id="bienName" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <label for="bienDescription">Description</label>
                        <textarea class="form-control" th:value="${bien.description}" name="description"
                                  id="bienDescription" placeholder="Description" th:text="${bien.description}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="bienPrice">Prix</label>
                        <input type="number" class="form-control" th:value="${bien.price}" name="price"
                               id="bienPrice" placeholder="Prix"/>
                    </div>

                    <div class="form-group">
                        <label for="bienPrice">Categorie</label>
                        <select class="form-control" id="categorieId" th:value="${categorieId}" name="categorieId" required="required">
                            <option disabled="disabled" selected="selected"> -- choisir une categorie -- </option>
                            <option th:each="eachCategorie : ${categorieList}" th:value="${eachCategorie.id}" th:text="${eachCategorie.name}">....</option>
                        </select>

                    </div>

                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                    <button class="btn btn-primary" type="submit">Ajouter/Modifier bien</button>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Ferme</button> -->
            </div>
        </div>

    </div>
</div>

</body>
</html>